body {
    margin: 2rem auto;
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    /* based on the built-in color 'linen' */
    background-image: linear-gradient(180deg, hsl(30, 67%, 94%), hsl(30, 67%, 96%));
}

.post-list-heading {
    text-align: center;
}

.post {
    display: flex;
    align-items: center;
}

.post-date {
    margin-left: 1rem;
}

article h1 {
    text-align: center;
}

article img {
    width: 100%;
}

article li {
    margin: 1rem 0;
}

@media (max-width: 576px) {
    body {
        max-width: 85vw;
        line-height: 1.75;
    }

    article h1 {
        font-size: 2rem;
        margin: 1.25em 0;
        line-height: 1.5;
    }
}
