body {
    margin: 2rem auto;
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: linen;
}

.post-list-heading {
    text-align: center;
}

.redesign-notice {
    display: block;
    text-align: center;
    font-size: 14px;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

.post:hover {
    background-color: hsla(0, 0%, 0%, 0.05)
}

.post-header {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.post-date {
    font-size: 14px;
    color: hsl(0, 0%, 40%);
}

article h1 {
    text-align: center;
}

article img {
    width: 100%;
}

article li {
    margin: 1rem 0;
}

article footer {
    text-align: center;
    font-size: 14px;
    margin-top: 2rem;
}

.poem {
    text-align: center;
    font-style: italic;
    white-space: pre-wrap;
}

.center-text {
    text-align: center;
}

@media (max-width: 576px) {
    body {
        margin: 2rem 1.5rem;
        line-height: 1.75;
    }

    article h1 {
        font-size: 2rem;
        margin: 1.25em 0;
        line-height: 1.5;
    }
}
