body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    /* based on the built-in color 'linen' */
    background-image: linear-gradient(180deg, hsl(30, 67%, 94%), hsl(30, 67%, 96%));
}

article {
    max-width: 600px;
    margin: 2rem auto;
}

article h1 {
    text-align: center;
}

article img {
    width: 100%;
}
